@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
         <div class="btn-group-lg">
             <button class="btn btn-lg btn-info">Balance</button>
             <button class="btn btn-lg btn-info">Retiro</button>
         </div>   
    </div>
    <div class="col">
        <div id="divContentHome">

        </div>
    </div>

</div>
<div class="row">
   <div class="col">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Login">Salir</a>
   </div>
</div>