<div id="keypad_numbers" class="btn-group-sm mt-3" data-target=".numberCard">
    <button class="btn btn-sm btn-outline-primary setNumber">0</button>
    <button class="btn btn-sm btn-outline-primary setNumber">1</button>
    <button class="btn btn-sm btn-outline-primary setNumber">2</button>
    <button class="btn btn-sm btn-outline-primary setNumber">3</button>
    <button class="btn btn-sm btn-outline-primary setNumber">4</button>
    <button class="btn btn-sm btn-outline-primary setNumber">5</button>
    <button class="btn btn-sm btn-outline-primary setNumber">6</button>
    <button class="btn btn-sm btn-outline-primary setNumber">7</button>
    <button class="btn btn-sm btn-outline-primary setNumber">8</button>
    <button class="btn btn-sm btn-outline-primary setNumber">9</button>
</div>