@model ATMOrigin_Web.ViewModels.DataCardVM
<div class="card">
    <div class="card-header">
        <h2 class="card-title">ATM Origin</h2>
    </div>
    <div class="card-body">
        <div id="divContent">
            <partial name="_LogingCard.cshtml" for="@Model" />
        </div>
    </div>
</div>